.sechead {
  width: 1248px;
  height: 88px;
  margin-top: 72px;
  margin-left: 130px;
  border: 1px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 1);
}
.topline {
  width: 1248px;
  height: 0px;
  margin-top: 0px;
  border: 1px 0px 0px 0px;
  border: 1px solid rgba(229, 229, 229, 1);
}
.bottomline {
  width: 1248px;
  height: 0px;
  margin-top: 20px;
  border: 1px 0px 0px 0px;
  border: 1px solid rgba(229, 229, 229, 1);
}
.mainbody {
  display: "flex";
  flex-direction: "row";
  margin-top: 24px;
}
.itmes {
  width: 90px;
  height: 40px;
  margin-top: 24px;
  margin-left: 96px;
  font-family: Simplon Norm;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: rgba(37, 32, 32, 1);
}
.hidefilter {
  width: Hug (130px) px;
  height: Hug (40px) px;
  margin-top: 24px;
  margin-left: 80px;
  background: rgba(255, 255, 255, 1);
  gap: 8px;
  color: rgba(136, 135, 146, 1);
}
.filtertext {
  width: 106px;
  height: 40px;
  font-family: Adobe Caslon Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: right;
  color: rgba(136, 135, 146, 1);
}
.backwardarrow {
  width: 16px;
  height: 16px;
  rotate: 0 deg;
  position: relative;
  top: 2px;
}
.recommended {
  width: 148px;
  height: 40px;
  margin-top: 24px;
  margin-left: 764px;
}
.recommendedmain {
  width: Hug (148px) px;
  height: Hug (40px) px;
  margin-top: 24px;
}
.recommendedtext {
  width: 124px;
  height: 40px;
  font-family: Simplon Norm;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: rgba(37, 32, 32, 1);
}
.recommendedfilter {
  width: 16px;
  height: 16px;
  rotate: 90 deg;
  margin-top: 16px;
  margin-left: 16px;
}
.rect {
  width: 16px;
  height: 16px;
  margin-top: 0px;
  rotate: -90 deg;
}
.rectarrow {
  width: 4.73px;
  height: 10.56px;
  margin-top: 5.27px;
  margin-left: 2.72px;
  border: 1px 0px 0px 0px;
  rotate: 90 deg;
}
.recommendedexpandfilter {
  width: 235px;
  height: 324px;
  margin-top: 0px;
  margin-left: 1011px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 7px 1px rgba(163, 170, 175, 0.2);
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.recommendedexpandtitle {
  width: Hug (158px) px;
  height: Hug (40px) px;
  margin-top: 24px;
  margin-left: 35px;
  gap: 8px;
  display: flex;
  flex-direction: row;
}
.recommendedexpandhead {
  width: 124px;
  height: 40px;
  font-family: Simplon Norm;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: rgba(37, 32, 32, 1);
}
.recommendedcorrecticon {
  width: 26px;
  height: 26px;
  margin-top: 6.54px;
  margin-left: 5px;
  padding: 6.54px 5px 7.16px 5px;
}
.correcticon {
  width: 16px;
  height: 12.3px;
  color: rgba(41, 45, 50, 1);
}
.filter1 {
  width: 108px;
  height: 40px;
  margin-top: 18px;
  margin-left: 85px;
  font-family: Simplon Norm;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-align: right;
  color: rgba(37, 32, 32, 1);
}
.filter2 {
  width: 71px;
  height: 40px;
  margin-top: 18px;
  margin-left: 122px;
  font-family: Simplon Norm;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-align: right;
  color: rgba(37, 32, 32, 1);
}
.filter3 {
  width: 153px;
  height: 40px;
  margin-top: 18px;
  margin-left: 40px;
  font-family: Simplon Norm;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-align: right;
  color: rgba(37, 32, 32, 1);
}
